/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 26px;
    color: #f5f1ec;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background-color: #f5f1ec;
    color: #2b1b12;
    padding-top: 80px;
}

/* Navigation */
header {
    background: #2b1b12;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f5f1ec;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #f5f1ec;
}

/* Hero */
.hero {
    height: 80vh;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("hero.jpg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    color: #ffffff;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
    color: #ffffff;
}

.hero button {
    padding: 14px 32px;
    background: #8b5e3c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.3s ease;
}

.hero button:hover {
    background: #6f4628;
}

/* Sections */
section {
    padding: 60px 40px;
    text-align: center;
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 12px;
    font-size: 18px;
}

/* Footer-like spacing */
.contact {
    background: #2b1b12;
    color: white;
}
/* Responsive Design */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: #2b1b12;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links li {
        padding: 12px 0;
    }


    nav {
        flex-direction: row;
    }

    .nav-links {
        flex-direction: row;
        gap: 12px;
    }

    .nav-links a {
        font-size: 14px;
    }

    body {
        padding-top: 70px;
    }

    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
        padding: 0 20px;
    }

    section {
        padding: 40px 20px;
    }
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}
